:root {
  --primary: rgb(102, 51, 153, 0.8);
  --primary-trans: rgba(102, 51, 153, 0.5);
  --primary-disabled: rgba(102, 51, 153, 0.3);
  --text: white;
  --text-trans: rgba(255, 255, 255, 0.1);
  --background: #282c34;
}

body {
  margin: 0;
  color: rgb(102, 51, 153);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background {
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: var(--text);
  padding: 30px;
}

.container {
  max-width: 1100px;
}

table {
  margin-bottom: 50px;
}

th {
  background-color: var(--primary-trans);
  width: 180px;
  padding: 10px 20px;
}

td {
  text-align: center;
}

.mt-high {
  margin-top: 50px;
}

.mb-high {
  margin-bottom: 50px;
}

.mt-low {
  margin-top: 10px;
}

.mb-low {
  margin-bottom: 10px;
}

.App {
  text-align: center;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 600px) {
  .btn-container {
    flex-direction: row;
  }
}

.col {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.box {
  border-radius: 7px;
  border: 2px solid var(--text);
  padding: 5px 20px;
  cursor: pointer;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  border-top: 2px solid var(--text);
  border-bottom: 2px solid var(--text);
  padding: 0 10px;
}

nav ul li {
  padding: 5px 15px;
  margin: 0 3px;
  width: 150px;
  cursor: pointer;
  text-align: center;
  border-radius: 7px;
}
nav ul li:hover {
  background: var(--text-trans);
}

.selected {
  background: var(--primary-trans);
}

.item {
  margin: 10px 20px;
  min-width: 220px;
}

.tile {
  background-color: var(--primary-trans);
  padding: 0 45px;
  border-radius: 11px;
  width: fit-content;
}

.centered {
  text-align: center;
}

.line {
  position: relative;
}
.line::before,
.line::after {
  content: "";
  position: absolute;
  background-color: var(--text);
  height: 2px;
  top: 50%;
}
.line::before {
  left: 10%;
  right: 55%;
}
.line::after {
  right: 10%;
  left: 55%;
}

button {
  background-color: var(--primary);
  color: var(--text);
  padding: 10px 30px;
  display: inline;
  margin: 10px 20px;
  min-width: 250px;
  cursor: pointer;
}
button:disabled {
  background-color: var(--primary-disabled);
  cursor: not-allowed;
}

.error {
  color: red;
  max-width: 90vw;
  overflow-y: auto;
  overflow-x: auto;
}

input {
  /* background-color: var(--background); */
  min-width: 237px;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  margin: 25px;
  position: relative;
}

.small-text {
  font-size: 15px;
}

.med-text {
  font-size: 20px;
}

a:any-link {
  color: cornflowerblue;
}

.about-container {
  width: 900px;
}

#link {
  color: var(--text);
}
