MNEMONIC = REPLACE_WITH_YOUR_MNEMONIC
ETHERSCAN_API_KEY = REPLACE_WITH_ETHERSCAN_API_KEY

MAINNET_RPC = https://mainnet.infura.io/v3/YOUR_INFURA_PROJECT_ID
ROPSTEN_RPC = https://ropsten.infura.io/v3/YOUR_INFURA_PROJECT_ID
RINKEBY_RPC = https://rinkeby.infura.io/v3/YOUR_INFURA_PROJECT_ID
GOERLI_RPC = https://goerli.infura.io/v3/YOUR_INFURA_PROJECT_ID
KOVAN_RPC = https://kovan.infura.io/v3/YOUR_INFURA_PROJECT_ID
ARBITRUM_TESTNET_RPC = https://rinkeby.arbitrum.io/rpc

# The address of the Inbox contract (currently inbox for rinkarby)
INBOX_ADDR = 0x578BAde599406A8fE3d24Fd7f7211c0911F5B29e
DEVNET_PRIVKEY = PRIVATE_KEY
